<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pigsty main</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<section>
    <div class="navbar">
        <div>
            <span class="material-symbols-outlined">
                savings
            </span>
            <h1>Pigsty</h1>
        </div>
        <div>
            <input type="text" placeholder="Search by item name"/>
            <select>
                <option disabled selected>All categories</option>
                <option value="1">Sport</option>
                <option value="2">Gift cards</option>
            </select>
        </div>
        <div>
            <span class="material-symbols-outlined">
                favorite
            </span>
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
            <span><a href="login.html">Log in</a> | <a href="register.html">Sign up</a></span>
        </div>
    </div>
</section>
<section>
    <div class="topic top-higher">
        <div class="row row-evenly">
            <div class="category">
                <div class="image-holder">
                </div>
                <h3>Category</h3>
            </div>
            <div class="category">
                <div class="image-holder">
                </div>
                <h3>Category</h3>
            </div>
            <div class="category">
                <div class="image-holder">
                </div>
                <h3>Category</h3>
            </div>
            <div class="category">
                <div class="image-holder">
                </div>
                <h3>Category</h3>
            </div>
            <div class="category">
                <div class="image-holder">
                </div>
                <h3>Category</h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="catalog row row-evenly">
            <div class="main-coupon">
                <a href="item_details.html">
                <div class="coupon-content">
                    <img src="../media/Square.png" alt="Item picture" />
                    <div>
                        <h4>Coupon Name</h4>
                        <span class="material-symbols-outlined">
                        favorite
                    </span>
                    </div>
                    <div class="smaller-description">
                        <h1>Some brief description</h1>
                        <p>Expires in 3 days</p>
                    </div>
                    <div>
                        <h1>$200</h1>
                        <button class="cancel-btn cart-btn">
                            <a href="checkout.html">Add to Cart</a>
                        </button>
                    </div>
                </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div><div class="main-coupon">
            <a href="item_details.html">
                <div class="coupon-content">
                    <img src="../media/Square.png" alt="Item picture" />
                    <div>
                        <h4>Coupon Name</h4>
                        <span class="material-symbols-outlined">
                        favorite
                    </span>
                    </div>
                    <div class="smaller-description">
                        <h1>Some brief description</h1>
                        <p>Expires in 3 days</p>
                    </div>
                    <div>
                        <h1>$200</h1>
                        <button class="cancel-btn cart-btn">
                            <a href="checkout.html">Add to Cart</a>
                        </button>
                    </div>
                </div>
            </a>
        </div><div class="main-coupon">
            <a href="item_details.html">
                <div class="coupon-content">
                    <img src="../media/Square.png" alt="Item picture" />
                    <div>
                        <h4>Coupon Name</h4>
                        <span class="material-symbols-outlined">
                        favorite
                    </span>
                    </div>
                    <div class="smaller-description">
                        <h1>Some brief description</h1>
                        <p>Expires in 3 days</p>
                    </div>
                    <div>
                        <h1>$200</h1>
                        <button class="cancel-btn cart-btn">
                            <a href="checkout.html">Add to Cart</a>
                        </button>
                    </div>
                </div>
            </a>
        </div><div class="main-coupon">
            <a href="item_details.html">
                <div class="coupon-content">
                    <img src="../media/Square.png" alt="Item picture" />
                    <div>
                        <h4>Coupon Name</h4>
                        <span class="material-symbols-outlined">
                        favorite
                    </span>
                    </div>
                    <div class="smaller-description">
                        <h1>Some brief description</h1>
                        <p>Expires in 3 days</p>
                    </div>
                    <div>
                        <h1>$200</h1>
                        <button class="cancel-btn cart-btn">
                            <a href="checkout.html">Add to Cart</a>
                        </button>
                    </div>
                </div>
            </a>
        </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div><div class="main-coupon">
            <a href="item_details.html">
                <div class="coupon-content">
                    <img src="../media/Square.png" alt="Item picture" />
                    <div>
                        <h4>Coupon Name</h4>
                        <span class="material-symbols-outlined">
                        favorite
                    </span>
                    </div>
                    <div class="smaller-description">
                        <h1>Some brief description</h1>
                        <p>Expires in 3 days</p>
                    </div>
                    <div>
                        <h1>$200</h1>
                        <button class="cancel-btn cart-btn">
                            <a href="checkout.html">Add to Cart</a>
                        </button>
                    </div>
                </div>
            </a>
        </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="main-coupon">
                <a href="item_details.html">
                    <div class="coupon-content">
                        <img src="../media/Square.png" alt="Item picture" />
                        <div>
                            <h4>Coupon Name</h4>
                            <span class="material-symbols-outlined">
                        favorite
                    </span>
                        </div>
                        <div class="smaller-description">
                            <h1>Some brief description</h1>
                            <p>Expires in 3 days</p>
                        </div>
                        <div>
                            <h1>$200</h1>
                            <button class="cancel-btn cart-btn">
                                <a href="checkout.html">Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </a>
            </div>




        </div>
    </div>
</section>
</body>
</html>